body {
  background-color: #F4F4F6;
  color: #334E58;
  font-family: 'Poppins', sans-serif;
  margin: 48px 96px 48px 96px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
.main-navigation {
  font-family: 'Lora', serif;
  text-decoration: underline;
  font-weight: 400;
}
.nav-menu {
   display: flex;
   justify-content: flex-end;
}
.menu-item {
  list-style: none;
  }
.main-navigation li {
  padding: 20px;
}
.menu-item a {
  font-size: 24px;
  color: #334E58;
  text-decoration: none;
}
.container-header {
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
}
.image img {
  width: 400px;
  height: auto;
  display: block;
}
.blog-section-title a {
  color:#334E58;
}
.container-blogs {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.container-blogs a {
  color: #334E58;
  font-size: 24px;
}
.blog-entry-1 {
  background: #DBD1DB; 
  padding: 20px;
  border-radius: 10px;
}
.blog-entry-2 {
  background: #FCDADA;
  padding: 20px;
  border-radius: 10px;
}
.blog-entry-3 {
  background:#C3D5C6;
  padding: 20px;
  border-radius: 10px;
}

